USE [TradeLicenseSystem]
GO
/****** Object:  StoredProcedure [dbo].[Abandoned_sp]    Script Date: 8/20/2020 4:56:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--run via job everyday at midnigth
ALTER PROCEDURE [dbo].[Abandoned_sp]
--@case_desc datetime output
as
begin


	
	declare @current datetime,
			@InspectionFailed int,
			@RefusalInProgress int,
			@statusIdAbandon int,
			@statusIdAppeal int

set @current =  CAST(getdate()   AS DATE)


select @InspectionFailed =[StatusId] from [dbo].[Status] where [StatusKey] ='InspectionFailed'
select @statusIdAbandon = [StatusId] from [dbo].[Status] where [StatusKey] ='AppealAbandoned'
select @RefusalInProgress= [StatusId] from [dbo].[Status] where [StatusKey] ='RefusalInProgress'
select @statusIdAppeal= [StatusId] from [dbo].[Status] where [StatusKey] ='AppealApproved'

 UPDATE License
 SET License.[StatusId]= @statusIdAbandon
 from [dbo].[Licenses] as License
INNER JOIN [dbo].[InspectionRequests] as InspectionRequests ON License.[LicenseId]= InspectionRequests.[LicenseId]
 where  CAST(InspectionRequests.[AppealFinalDate] AS DATE)= @current And InspectionRequests.StatusId = @InspectionFailed


  UPDATE License
 SET License.[StatusId]= @statusIdAbandon
 from [dbo].[Licenses] as License
INNER JOIN [dbo].[InspectionAppeals]as appeals ON License.[LicenseId]= appeals.[LicenseId] 
 where  CAST(appeals.[AppealDateTime] AS DATE)= @current And appeals.StatusId = @statusIdAppeal

	

end
