USE [TradeLicenseSystem]
GO
/****** Object:  StoredProcedure [dbo].[NotRenewed_sp]    Script Date: 8/6/2020 3:32:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[NotRenewed_sp]
--@case_desc datetime output
as
begin
--- run using job on 31 jan every year
	
	declare 
		    @statusIdNotRenewed int,
			@statusIdPendingRenew int
		




select @statusIdNotRenewed = [StatusId] from [dbo].[Status] where [StatusKey] ='NotRenewed'
select @statusIdPendingRenew = [StatusId] from [dbo].[Status] where [StatusKey] ='PendingRenewal'


UPDATE [dbo].[Licenses]
   SET [StatusId] = @statusIdNotRenewed
where  [StatusId] = @statusIdPendingRenew

	

end

