USE [TradeLicenseSystem]
GO
/****** Object:  StoredProcedure [dbo].[ChangeStatus_sp]    Script Date: 8/6/2020 9:25:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[ChangeStatus_sp]
@case_desc datetime output
as
begin


	
	declare @current datetime,
			@thirtyday datetime,
			@statusIdRenew int,
			@statusIdAbandon int

set @current =  CAST(getdate()   AS DATE)
set @thirtyday = CAST(dateadd(day,30,@current )   AS DATE)

select @statusIdRenew = [StatusId] from [dbo].[Status] where [StatusKey] ='LicenseRenewal'
select @statusIdAbandon = [StatusId] from [dbo].[Status] where [StatusKey] ='AppealAbandoned'

UPDATE [dbo].[Licenses]
   SET [StatusId] = @statusIdRenew 
where  CAST([LicenseExpiryDate] AS DATE)= @thirtyday

 UPDATE License
 SET License.[StatusId]= @statusIdAbandon
 from [dbo].[Licenses] as License
INNER JOIN [dbo].[InspectionAppeals] as Appeals ON License.[LicenseId]= Appeals.[LicenseId]
 where  CAST(Appeals.[AppealDateTime] AS DATE)= @current

UPDATE [dbo].[InspectionAppeals]
 SET [StatusId] = @statusIdAbandon
 where  CAST([AppealDateTime] AS DATE)= @current
	

end
