USE [TradeLicenseSystem]
GO
/****** Object:  StoredProcedure [dbo].[PendingRenewal_sp]    Script Date: 8/6/2020 3:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PendingRenewal_sp]

-- run via job on 01 November every year
--@case_desc datetime output
as
begin


	
	declare 
		    @statusIdNotRenewed int,
			@statusIdPendingRenew int,
			@currentyear  int,
			@Nexttyear int,
			@Nov int,
			@Dec int

set @currentyear =	CAST(YEAR(getdate())* 100  as int)
set @Nexttyear =  CAST(YEAR(DATEADD(year, 1, getdate())) as int)
set @Nov =  CAST(@currentyear +'11' as  int)
set @Dec = CAST(@currentyear +'12' as  int)



select @statusIdNotRenewed = [StatusId] from [dbo].[Status] where [StatusKey] ='NotRenewed'
select @statusIdPendingRenew = [StatusId] from [dbo].[Status] where [StatusKey] ='PendingRenewal'


UPDATE [dbo].[Licenses]
   SET [StatusId] = @statusIdPendingRenew
where  CAST(YEAR(ApplicationDateTime) AS nvarchar ) !=  @Nexttyear And CAST(YEAR(ApplicationDateTime)  * 100 +'' + MONTH(ApplicationDateTime)AS nvarchar) !=  @Nov And CAST(YEAR(ApplicationDateTime)  * 100 +'' + MONTH(ApplicationDateTime)AS nvarchar) !=  @Dec
 


	

end

