USE [TradeLicenseSystem]
GO
/****** Object:  StoredProcedure [dbo].[RefusalProcess_sp]    Script Date: 1/20/2021 9:00:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[RefusalProcess_sp]
--@case_desc int output
as
begin


	
	declare @currentdate date,
	@appdate datetime,
	@adjusteddate datetime,
      @SlaExpiryDate datetime,	
	    @LicenseTypeId int,	
	 @numDays INT = 21,
		  @ClientId int,	
		 @LicenseId int,
		 @DepartmentId int,
		 @DepartmentContactId int,
		 @InspectionRequestId int,
		 @InspectionResponseId int,
			@statusIdPendingLicense int,
			@statusIdAwaitingDeptManager int,
			@statusIdPendingLicenseInspection int,
			@statusIdLicenseRefusalInProgress int,
			@statusIdInspectionFailed int,
			@statusIdPendingRefusal int

set @currentdate =  CAST(getdate()   AS DATE)
set  @SlaExpiryDate = CAST(dateadd(month,3,@currentdate) AS DATE)

select @statusIdPendingLicense= [StatusId] from [dbo].[Status] where [StatusKey] ='LicensePending'
select @statusIdAwaitingDeptManager = [StatusId] from [dbo].[Status] where [StatusKey] ='AwaitingManagerResponse'
select @statusIdPendingLicenseInspection= [StatusId] from [dbo].[Status] where [StatusKey] ='PendingLicenseInspection'
select @statusIdLicenseRefusalInProgress = [StatusId] from [dbo].[Status] where [StatusKey] ='RefusalInProgress'
select @statusIdPendingRefusal= [StatusId] from [dbo].[Status] where [StatusKey] ='PendingRefusal'
select @statusIdInspectionFailed = [StatusId] from [dbo].[Status] where [StatusKey] ='InspectionFailed'



/******LicensePending status start ******/
DECLARE @LicensePendingCursor CURSOR
BEGIN
  
    SET @LicensePendingCursor = CURSOR FOR
    SELECT LicenseId FROM [dbo].[Licenses] where  [StatusId]= @statusIdPendingLicense And [IsActive] = 'True' 
	--SELECT LicenseId FROM [dbo].[Licenses] where [StatusId]= @statusIdPendingLicense
	 
    OPEN @LicensePendingCursor 
    FETCH NEXT FROM @LicensePendingCursor 
    INTO @LicenseId
	
    WHILE @@FETCH_STATUS = 0

    BEGIN
	set @numDays = 21
	select  @appdate = [CreatedDateTime]  from [dbo].[Licenses] where LicenseId = @LicenseId 
	


	 WHILE @numDays > 0
    BEGIN
	
       SET @adjusteddate=CAST(dateadd(day,1,@appdate)as date)

       IF DATENAME(day,@adjusteddate)='saturday'
	    BEGIN

	    SET @adjusteddate=dateadd(day,1,@adjusteddate)
		 END
       IF DATENAME(day,@adjusteddate)='sunday'
	    BEGIN
		 SET @adjusteddate=dateadd(day,1,@adjusteddate)
		  END
  
       SET @numDays=@numDays-1
	   	    
    END
	 
	 IF @adjusteddate = @currentdate 
 BEGIN
	--change license status
	     UPDATE [dbo].[Licenses]
   SET [StatusId] = @statusIdLicenseRefusalInProgress 
   where LicenseId = @LicenseId

   select  @LicenseTypeId = [LicenseTypeId] from [dbo].[Licenses] where LicenseId = @LicenseId
      select   @ClientId  = [ClientId] from [dbo].[Licenses] where LicenseId = @LicenseId
	  select @DepartmentId = [DepartmentId] from [dbo].[Departments] where [DepartmentKey] ='ETK1010'
	  select @DepartmentContactId = [DepartmentContactId] from [dbo].[DepartmentContacts] where [DepartmentId] =@DepartmentId and RoleName ='Department Inspector'
	  --add an inspection request
   INSERT INTO [dbo].[InspectionRequests]
           ([OverrideOrderIndex]
           ,[LicenseId]
           ,[LicenseTypeId]
           ,[DepartmentId]
           ,[ClientId]
           ,[StatusId]
           ,[SlaExpiryDate]
           ,[IsActive]
           ,[IsDeleted]
           ,[IsLocked]
           ,[CreatedDateTime]
           ,[RefNumber]
           ,[AllocatedDate]
		   ,[Comment]
           ,[DepartmentContactId]
        )
     VALUES
           ('False'
           ,@LicenseId
           ,@LicenseTypeId
           ,@DepartmentId
           ,@ClientId 
           ,@statusIdInspectionFailed
           ,@SlaExpiryDate
           ,'False'
           ,'True'
           ,'False'
           ,@currentdate
		   ,'Ref'+ CAST(@LicenseId AS nvarchar)
           ,@currentdate
		   ,'system generated'
 ,@DepartmentContactId
          )
		  --add an inspection
		 SELECT TOP 1 @InspectionRequestId  = [InspectionRequestId] from [dbo].[InspectionRequests] where LicenseId = @LicenseId ORDER BY InspectionRequestId DESC
		
		  INSERT INTO [dbo].[InspectionResponses]
           ([InspectionRequestId]
      
           ,[LicenseId]
           ,[Comment]
           ,[StatusId]
           ,[IsActive]
           ,[IsDeleted]
           ,[IsLocked]
           ,[CreatedDateTime]
           ,[InspectionDateTime]
           ,[InspectionFailureCount]
         
          )
     VALUES
           (@InspectionRequestId
           ,@LicenseId
           ,'system generated'
           ,@statusIdInspectionFailed
           ,'True'
           ,'False'
           ,'False'
           ,@currentdate
           ,@currentdate
           ,'1'

           )
		    SELECT TOP 1 @InspectionResponseId  = [InspectionResponseId] from [dbo].[InspectionResponses] where LicenseId = @LicenseId ORDER BY InspectionResponseId DESC
INSERT INTO [dbo].[InspectionHistories]
         ([InspectionRequestId]
           ,[InspectionResponseId]
           ,[InspectionDateTime]
           ,[InspectionFailureCount]
           ,[LicenseId]
           ,[Comment]
           ,[StatusId]
		  ,[CapturedByClerk]
		   ,[AdhocInspector]
          )
     VALUES
           (@InspectionRequestId
           ,@InspectionResponseId
           ,@currentdate
           ,'1'
           ,@LicenseId
           ,'system generated'
           ,@statusIdInspectionFailed
		   ,'False'
		   ,'False'
           )
END;
      FETCH NEXT FROM @LicensePendingCursor 
      INTO @LicenseId
	 
    END; 

    CLOSE @LicensePendingCursor ;
    DEALLOCATE @LicensePendingCursor;
END;
   



/******LicensePending status end ******/

/******Awaiting Manager Response status start ******/
DECLARE @AwaitingDeptManagerCursor CURSOR
BEGIN
 
    SET @AwaitingDeptManagerCursor = CURSOR FOR
      SELECT InspectionRequestId FROM [dbo].[InspectionRequests] where[StatusId]= @statusIdAwaitingDeptManager
	--SELECT InspectionRequestId FROM [dbo].[InspectionRequests] where [StatusId]= @statusIdAwaitingDeptManager

    OPEN @AwaitingDeptManagerCursor 
    FETCH NEXT FROM @AwaitingDeptManagerCursor
    INTO @InspectionRequestId 
	
    WHILE @@FETCH_STATUS = 0
    BEGIN
	set @numDays = 21
	select  @appdate = [CreatedDateTime]  from [dbo].[InspectionRequests] where InspectionRequestId = @InspectionRequestId 
	


	 WHILE @numDays > 0
    BEGIN
	
       SET @adjusteddate=CAST(dateadd(day,1,@appdate)as date)

       IF DATENAME(day,@adjusteddate)='saturday'
	    BEGIN

	    SET @adjusteddate=dateadd(day,1,@adjusteddate)
		 END
       IF DATENAME(day,@adjusteddate)='sunday'
	    BEGIN
		 SET @adjusteddate=dateadd(day,1,@adjusteddate)
		  END
  
       SET @numDays=@numDays-1
	   	    
    END
	 
	 IF @adjusteddate = @currentdate 
 BEGIN
	SELECT @LicenseId  = [LicenseId] from [dbo].[InspectionRequests] where InspectionRequestId = @InspectionRequestId 
   select @DepartmentId = [DepartmentId] from  [dbo].[InspectionRequests] where InspectionRequestId = @InspectionRequestId 
  SELECT TOP 1 @DepartmentContactId = [DepartmentContactId] from [dbo].[DepartmentContacts] where [DepartmentId] =@DepartmentId and RoleName ='Department Inspector' ORDER BY DepartmentId DESC
	  --Update an inspection request
	  UPDATE [dbo].[InspectionRequests]
   SET 
      [StatusId] = @statusIdInspectionFailed
      ,[IsActive] = 'False'
      ,[IsDeleted] = 'True'
      ,[IsLocked] = 'False'
      ,[ModifiedDateTime] = @currentdate
      ,[Comment] = 'system generated'
      ,[DepartmentContactId] = @DepartmentContactId
 WHERE InspectionRequestId = @InspectionRequestId 

     
		  --add an inspection
		
		
		  INSERT INTO [dbo].[InspectionResponses]
           ([InspectionRequestId]
      
           ,[LicenseId]
           ,[Comment]
           ,[StatusId]
           ,[IsActive]
           ,[IsDeleted]
           ,[IsLocked]
           ,[CreatedDateTime]
           ,[InspectionDateTime]
           ,[InspectionFailureCount]
         
          )
     VALUES
           (@InspectionRequestId
           ,@LicenseId
           ,'system generated'
           ,@statusIdInspectionFailed
           ,'True'
           ,'False'
           ,'False'
           ,@currentdate
           ,@currentdate
           ,'1'

           )
		    SELECT TOP 1 @InspectionResponseId  = [InspectionResponseId] from [dbo].[InspectionResponses] where LicenseId = @LicenseId ORDER BY InspectionResponseId DESC
INSERT INTO [dbo].[InspectionHistories]
         ([InspectionRequestId]
           ,[InspectionResponseId]
           ,[InspectionDateTime]
           ,[InspectionFailureCount]
           ,[LicenseId]
           ,[Comment]
           ,[StatusId]
		  ,[CapturedByClerk]
		   ,[AdhocInspector]
          )
     VALUES
           (@InspectionRequestId
           ,@InspectionResponseId
           ,@currentdate
           ,'1'
           ,@LicenseId
           ,'system generated'
           ,@statusIdInspectionFailed
		   ,'False'
		   ,'False'
           )
		   --change license status
	 
	     UPDATE [dbo].[Licenses]
   SET [StatusId] = @statusIdLicenseRefusalInProgress 
   where LicenseId = @LicenseId
 END; 
      FETCH NEXT FROM @AwaitingDeptManagerCursor 
      INTO @InspectionRequestId 
	 
    END; 

    CLOSE @AwaitingDeptManagerCursor ;
    DEALLOCATE @AwaitingDeptManagerCursor;
END;
   



/******Awaiting Manager Response status end ******/

/******Pending License Inspection status start ******/
DECLARE @PendingLicenseInspectionCursor CURSOR
BEGIN
 
    SET @PendingLicenseInspectionCursor = CURSOR FOR
   SELECT InspectionRequestId FROM [dbo].[InspectionRequests] where  [StatusId]= @statusIdPendingLicenseInspection
	--SELECT InspectionRequestId FROM [dbo].[InspectionRequests] where [StatusId]= @statusIdPendingLicenseInspection

    OPEN @PendingLicenseInspectionCursor 
    FETCH NEXT FROM @PendingLicenseInspectionCursor
    INTO @InspectionRequestId 
	
    WHILE @@FETCH_STATUS = 0
    BEGIN
	 
	set @numDays = 21
	select  @appdate = [ModifiedDateTime]  from [dbo].[InspectionRequests] where InspectionRequestId = @InspectionRequestId 
	


	 WHILE @numDays > 0
    BEGIN
	
       SET @adjusteddate=CAST(dateadd(day,1,@appdate)as date)

       IF DATENAME(day,@adjusteddate)='saturday'
	    BEGIN

	    SET @adjusteddate=dateadd(day,1,@adjusteddate)
		 END
       IF DATENAME(day,@adjusteddate)='sunday'
	    BEGIN
		 SET @adjusteddate=dateadd(day,1,@adjusteddate)
		  END
  
       SET @numDays=@numDays-1
	   	    
    END
	 
	 IF @adjusteddate = @currentdate 
 BEGIN
	SELECT @LicenseId  = [LicenseId] from [dbo].[InspectionRequests] where InspectionRequestId = @InspectionRequestId 
   --Update an inspection request
	  UPDATE [dbo].[InspectionRequests]
   SET 
      [StatusId] = @statusIdInspectionFailed
      ,[IsActive] = 'False'
      ,[IsDeleted] = 'True'
      ,[IsLocked] = 'False'
      ,[ModifiedDateTime] = @currentdate
 WHERE InspectionRequestId = @InspectionRequestId 
		  --add an inspection

		  INSERT INTO [dbo].[InspectionResponses]
           ([InspectionRequestId]
      
           ,[LicenseId]
           ,[Comment]
           ,[StatusId]
           ,[IsActive]
           ,[IsDeleted]
           ,[IsLocked]
           ,[CreatedDateTime]
           ,[InspectionDateTime]
           ,[InspectionFailureCount]
         
          )
     VALUES
           (@InspectionRequestId
           ,@LicenseId
           ,'system generated'
           ,@statusIdInspectionFailed
           ,'True'
           ,'False'
           ,'False'
           ,@currentdate
           ,@currentdate
           ,'1'

           )
		    SELECT TOP 1 @InspectionResponseId  = [InspectionResponseId] from [dbo].[InspectionResponses] where LicenseId = @LicenseId ORDER BY InspectionResponseId DESC
INSERT INTO [dbo].[InspectionHistories]
         ([InspectionRequestId]
           ,[InspectionResponseId]
           ,[InspectionDateTime]
           ,[InspectionFailureCount]
           ,[LicenseId]
           ,[Comment]
           ,[StatusId]
		  ,[CapturedByClerk]
		   ,[AdhocInspector]
          )
     VALUES
           (@InspectionRequestId
           ,@InspectionResponseId
           ,@currentdate
           ,'1'
           ,@LicenseId
           ,'system generated'
           ,@statusIdInspectionFailed
		   ,'False'
		   ,'False'
           )
		   --change license status
	 
	     UPDATE [dbo].[Licenses]
   SET [StatusId] = @statusIdLicenseRefusalInProgress 
   where LicenseId = @LicenseId
    END; 

      FETCH NEXT FROM @PendingLicenseInspectionCursor 
      INTO @InspectionRequestId 
	 
    END; 

    CLOSE @PendingLicenseInspectionCursor ;
    DEALLOCATE @PendingLicenseInspectionCursor;
END;
   



/******Pending License Inspection status end ******/

--select @create = [CreatedDateTime] from [dbo].[Licenses] where [LicenseId] = '18493'
--set  @show  = CAST(dateadd(day,21,@create) AS DATE)

--select @case_desc=  @InspectionRequestId 
	

end
