



@font-face {
     
  font-style: normal;
  font-weight: 500;
    font-family: 'iJWHBXyIfDnIV7Eyjmmd8WY';
    src: url('../fonts/iJWHBXyIfDnIV7Eyjmmd8WY.woff') format('woff');
}
@font-face {
  
  font-style: normal;
  font-weight: 700;
    font-family: 'iJWHBXyIfDnIV7F6iGmd8WY';
    src: url('../fonts/iJWHBXyIfDnIV7F6iGmd8WY.woff') format('woff');
}
@font-face {
    
  font-style: normal;
  font-weight: 300;
    font-family: 'iJWHBXyIfDnIV7Fqj2md8WY';
    src: url('../fonts/iJWHBXyIfDnIV7Fqj2md8WY.woff') format('woff');
}
@font-face {
   
  font-style: normal;
  font-weight: 400;
    font-family: 'iJWKBXyIfDnIV7nBrXo';
    src: url('../fonts/iJWKBXyIfDnIV7nBrXo.woff') format('woff');
}